*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #333366;
    cursor: url('images/cursor1.png'), auto;
}

.header{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    transition: 0.5s ease;
    justify-content: space-around;
    background-color: #333366;
}

.header-title{
    display: flex;
    width: 100%;
}

.logo{
    display: flex;
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

.header-title span{
    margin-left: 10px;
}

.header-title img {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
}

.header-nav{
    display: flex;
}

.header-nav-link{
    text-decoration: none;
    margin: 20px;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
}

.header-nav-link:hover{
    color:#42deb8;
    transition: 0.5s ease;
}


/*seccion*/
section{
    padding: 120px 10%;
}

/* Sección de Misión y Visión */
.mission-vision {
    display: flex;
    justify-content: space-around;
    background-color: #333366;
}

.mission-card, .vision-card {
    flex: 1;
    padding: 100px;
    text-align: justify;
}

.mission-card {
    background-color: #785ea7;
}

.vision-card {
    background-color: #9A7BB9;
}

.mission-card h2, .vision-card h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #42deb8;
}

.mission-card p, .vision-card p {
    font-size: 18px;
    color: #ffffff;
}

/* Sección de Team*/
.team-section {
    background-color: #bf9cfc;
    padding: 4%;
    margin: 20px 0;
    text-align: center; 
}

.team-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #42deb8;
    margin-bottom: 20px;
}

.team-member {
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.team-member p {
    font-size: 16px;
    color: #ffffff;
}

.member-name {
    font-weight: bold;
    color: #ffffff;
}

/* Theory */
.description {
    max-width: 800px;
    margin: 0 auto;
}

.description > div {
    background-color: #b57edc;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description h2 {
    margin-top: 20px;
    color:#42deb8;
}

.description p {
    margin: 10px 0;
    color: #fff; 
    text-align: justify; 
}

.description img {
    max-width: 100%;
    height: auto;

}

.description > div {
    margin-bottom: 20px;
}

.description > div img {
    display: block;
    margin: 0 auto;
}

.numbered-list {
    list-style-type: decimal;
    margin-left: 40px; 
}

.numbered-list li {
    margin-top: 10px; 
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #3d0b60;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b57edc;
}

.custom-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 40px;
    border-radius: 8px;
}

.left-section, .right-section {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.left-section {
    margin-top: 30px;
}

.right-section {
    margin-top: 30px;
    align-items: center; 
}

.card {
    background-color: #b57edc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin: 10px;
    width: 96%;
}

.card h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
    color: #42deb8;
}

.button {
    background-color: #42deb8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 8px;
}

.button:hover {
    background-color: #b57edc;
}

.input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

.purple-box {
    background-color: #ccadee;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

.custom-section p {
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.right-section .card {
    height: auto;
}

#new-card {
    width: 97%; 
    margin: 10px; 
    padding: 10px; 
}

#new-card img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}