<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optical Fiber For All</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/images/logoFiber.ico">
  </head>
<body>
  <!--menu de navegación-->
  <header class="header">
    <div class="header-title">
      <a href="#" class="logo">
        <img src="/static/images/image.png" alt="logo-Zyan">
        <span>Optical Fiber For All</span>
      </a>
    </div>
    <nav class="header-nav">
      <a class="header-nav-link" href="/Home">Inicio</a>
      <a class="header-nav-link" href="/Theory">Teoría</a>
      <a class="header-nav-link" href="/About-us">Sobre nosotras</a>
    </nav>
  </header>
  <!--Misión y Visión-->
  <section class="mission-vision">
    <div class="mission-card">
      <h2>Misión</h2>
      <p>Nuestra misión es aplicar las técnicas de Complejidad Algorítmica adquiridas a lo largo del ciclo de estudios. Buscamos proponer soluciones en un entorno real que estén en consonancia con las competencias generales y específicas del curso. Nuestro objetivo es utilizar estas técnicas como el algoritmo de Kruskal para abordar desafíos concretos y contribuir a un futuro más conectado y eficiente.</p>
    </div>
    <div class="vision-card">
      <h2>Visión</h2>
      <p>Nuestra visión es destacar en la implementación de soluciones eficientes en el proyecto "Optical Fiber For All." A través del algoritmo de Kruskal, aspiramos a diseñar una red de alto rendimiento que ofrezca conectividad rápida y confiable en todo Texas. Buscamos impulsar la conectividad en Texas y sobresalir en la presentación de nuestro trabajo académico.</p>
    </div>
  </section>
  <!--Team Código-->
  <section class="team-section">
    <h2 id="team">Equipo de Desarrollo</h2>
    <div class="team-member">
      <p><span class="member-name">Fiorella Jarama Peñaloza</span><br>U202120418</p>
    </div>
    <div class="team-member">
      <p><span class="member-name">Nadia Alessandra Lucas Coronel</span><br>U202120430</p>
    </div>
    <div class="team-member">
      <p><span class="member-name">Ariana Vargas Revollé</span><br>U20221a928</p>
    </div>
  </section>
</body>
</html>